---
import { getCollection, getEntryBySlug } from "astro:content";
import { Image } from 'astro:assets';
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import Hgroup from "../../components/Hgroup.astro";
import Button from '../../components/Button.astro';

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                posts,
            },
        };
    });
    return paths;
};

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);

// Ensure post is not undefined before trying to render its content
if (!post) {
    return Astro.redirect("/404")
}

//const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <Main>
        
        <Hgroup sectionId="experience">			
            <p slot="section">{post.data.category}</p>
            <h1 class="h2" slot="body">{post.data.title}</h1>			
            <div slot="body">                
                <Button slot="body" href="#" text="Visit Live Site" icon="arrow-right-45" target="_blank" />
            </div>
        </Hgroup>

        <Image
            src={post.data.image}
            width={1014}
            height={1014 / 1.6}
            alt={post.data.title}
        />
       
    </Main>
</Layout>