---
import { getCollection, getEntryBySlug } from "astro:content";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import Hgroup from "../../components/Hgroup.astro";
import Button from '../../components/Button.astro';

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                posts,
            },
        };
    });
    return paths;
};

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);

// Ensure post is not undefined before trying to render its content
if (!post) {
    return Astro.redirect("/404")
}

const { Content } = await post.render();


import Post from "../../components/PostRelated.astro";

const { posts } = Astro.props;
---

<Layout title={"Antonio Almeid - " + post.data.title} description={post.data.description} ogImage={post.data.ogimage}>
    <Main>
        
        <Hgroup sectionId="experience">			
            <p slot="section">{post.data.category}</p>
            <h1 class="h2" slot="body">{post.data.title}</h1>			
            <div slot="body">                
                <Button slot="body" href={post.data.url} text="Visit Live Site" icon="arrow-right-45" target="_blank" />
            </div>
        </Hgroup>

        <Content />

        <Hgroup sectionId="more-work">			
            <p slot="section">More Work</p>
            <ul slot="body"> 
                {posts.map((post) => <Post post={post} />)}
            </ul>
        </Hgroup>

        
       
    </Main>
</Layout>

<style lang="scss">
    ul{
        display: grid;
        grid-template-columns: 1fr;		
        list-style: none;    	
        margin: 0;
        padding: 0;

        @media (min-width: 992px) {	
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 24px;    	
        }		
    }
</style>